.loginEcom {
    margin: 0 auto;
    width: 80%;

    @include Responesive(MD) {
        width: 50%;
    }


    .loginEcom__content {
        h2 {
            text-align: center;
            font-size: 23px;
            padding: 10px 0;
            font-weight: 700;
            margin-bottom: 0;
        }

        hr {
            margin: 0;
            color: #0006;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 36px;
            font-weight: 700;
            margin: 40px 0;

            .icon {
                font-size: 45px;
                color: $turquoise;
            }
        }

        .content_require {
            text-align: center;
            color: #343a3a80;
            font-size: 1.1rem;
            margin-bottom: 40px;

            p {
                margin-bottom: 0;
            }
        }

        .content_input {

            .input_item {
                position: relative;

                .icon {
                    position: absolute;
                    font-size: 20px;
                    top: 16px;
                    left: 1rem;
                }
            }

            input {
                background-color: transparent;
                width: 100%;
                outline: none;
                padding: 0.75rem;
                padding-left: 4rem;
                font-size: 17px;
                border: none;
                border-bottom: 1px solid #0006;
            }
        }
    }

    .content_text {
        margin-top: 3rem;
        color: $turquoise;
        text-align: center;

        p {
            span {
                text-decoration: underline;
                color: #0006;
                cursor: pointer;
            }

            &:nth-child(1) {
                margin-bottom: 0;
            }

            &:nth-child(2) {
                margin-top: 0;
            }
        }

    }

    .btn_login {
        cursor: pointer;
        width: 100%;
        padding: 0.75rem 0;
        background-color: $turquoise;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 5px;
        font-weight: 600;

        &:hover {
            opacity: 0.8;
        }
    }
}