.admin {
    .admin__container {
        position: relative;
        width: 100%;

        .admin__navigation {
            position: fixed;
            width: 200px;
            height: 100%;
            background-color: #3ba0e9;
            border-left: 10px solid transparent;

            ul {
                padding: 0;
                margin: 0;

                li {

                    a {}
                }
            }
        }
    }
}