.register {
    display: flex;
    justify-content: center;

    .register_content {
        h1 {
            text-align: center;
        }

        p {
            margin: 0;
            margin-top: 20px;

            span {
                color: blue;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .error_message {
            color: red;
            margin-top: 0;
        }

        .btn_submit {
            position: relative;
            background-color: #3ba0e9;
            border: none;
            width: 100%;
            padding: 12px 24px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            margin-top: 20px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            .icon_loading {
                position: absolute;
                left: 20px;
            }
        }
    }
}

.inputEmailRegister {
    outline: none;
    width: 80%;
    border: solid 1px $blue;
    height: 32px;
    border-radius: 32px;
    padding: 0 20px;
}

.btn_confirm_email_register {
    display: flex;
    justify-content: flex-end;


    a {
        display: inline;
        color: white;
        text-decoration: none;
        padding: 5px;
        background-color: $blue;
        border-radius: 5px;
        margin-top: 10px;
    }

    &:hover {
        color: white;
        opacity: 0.8;
    }
}