.login {
    display: flex;
    justify-content: center;

    .login_content {
        width: 30%;

        h1 {
            text-align: center;
        }

        p {
            margin: 0;
            margin-top: 20px;

            span {
                color: blue;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .btn_submit {
            background-color: #3ba0e9;
            border: none;
            width: 100%;
            padding: 12px 24px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            margin-top: 20px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

    }

}