.manage {
    .manage__container {
        position: relative;
        width: 100%;

        .manage__navigation {
            position: fixed;
            width: 0;
            left: -10px;
            height: 100%;
            background-color: $dark-blue;
            border-left: 10px solid transparent;
            overflow: hidden;
            transition: $smooth;

            @include Responesive(MD) {
                width: 60px;
            }

            @include Responesive(LG) {
                width: 200px;
            }



            ul {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                padding: 0;
                margin: 0;

                li {
                    position: relative;
                    width: 100%;

                    &:hover {
                        background-color: $light-gray;

                        .nav__item {
                            color: $dark-blue;
                        }

                    }

                    &:nth-child(1) {
                        margin-bottom: 20px;
                        font-size: 18px;
                        font-weight: bold;

                        &:hover {
                            background-color: transparent;

                            .nav__item {
                                color: white;
                            }
                        }
                    }

                    .nav__item {
                        width: 100%;
                        position: relative;
                        color: white;
                        display: flex;

                        .icon {
                            display: block;
                            min-width: 40px;
                            text-align: center;
                            height: 40px;
                            line-height: 34px;
                            font-size: 20px;
                        }

                        .title {
                            display: block;
                            height: 40px;
                            line-height: 40px;
                            padding: 0 10px;
                            white-space: nowrap;
                        }
                    }

                    .nav__item_active {
                        background-color: $light-gray;
                        color: $dark-blue;
                    }

                }
            }
        }

        .manage__navigation.active {
            width: 300px;
            transition: $smooth;
        }

        .manage__main {
            position: absolute;
            width: 100%;
            left: 0;
            min-height: 100vh;
            background-color: $light-gray;
            transition: $smooth;

            @include Responesive(MD) {
                left: 60px;
                width: calc(100% - 60px);
            }

            @include Responesive(LG) {
                left: 200px;
                width: calc(100% - 200px);
            }

            .manage__main_topbar {
                padding: 0 10px;
                width: 100%;
                height: 60px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .toggle_btn {
                    width: 60px;
                    text-align: left;
                    height: 60px;
                    line-height: 60px;
                    background-color: transparent;
                    cursor: pointer;

                    .icon {
                        font-size: 20px;
                    }
                }

                .search {
                    position: relative;
                    width: 400px;
                    margin: 0 10px;

                    label {
                        position: relative;
                        width: 100%;

                        input {
                            width: 100%;
                            height: 40px;
                            padding: 5px 36px;
                            border-radius: 40px;
                            outline: none;
                            border: 1px solid $dark-blue;
                        }

                        .icon {
                            position: absolute;
                            left: 10px;
                            top: 10px;
                            font-size: 20px;
                        }
                    }
                }

                .avatar {
                    height: 40px;
                    width: 40px;
                    min-width: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $dark-blue;
                    border-radius: 50%;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .manage__main_content {
                height: 100%;
                width: 100%;
            }
        }

        .manage__main.active {
            transition: $smooth;
            width: calc(100% - 200px);
            left: 200px;

            @include Responesive(LG) {
                width: calc(100% - 40px);
                left: 40px;
            }
        }
    }
}