.homeFeature {
    .homeFeature__container {
        padding-top: 1rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 2rem;

        @include Responesive(SM) {
            max-width: 540px;
        }

        @include Responesive(MD) {
            max-width: 720px;

        }

        @include Responesive(LG) {
            max-width: 960px;
            padding-top: 3rem;
        }

        @include Responesive(XL) {
            max-width: 1140px;
        }

        h3 {
            text-shadow: 2px 2px 2px rgb(41 41 41 / 15%);
            color: black;
            text-align: center;
        }

        .homeFeature__nav {

            ul {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;

                padding-left: 0;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;

                @include Responesive(LG) {
                    justify-content: center;
                    margin-top: 2.5rem;
                    margin-bottom: 2.5rem;
                }


                li {
                    text-transform: uppercase;
                    padding: 8px 20px;
                    font-size: 0.7rem;
                    margin: 0.3rem;
                    border: 1px solid #c0c3c3;
                    border-radius: 25px;
                    font-size: 0.9rem;
                    cursor: pointer;
                }
            }
        }

        .homeFeature__list {
            .homeFeature__list-content {
                @include Responesive(SM) {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                }

                @include Responesive(LG) {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                }

                @include Responesive(XL) {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                }

                .card_item {
                    margin: 1rem 0;

                    @include Responesive(SM) {
                        margin: 0;
                    }

                    @include Responesive(LG) {
                        margin: 0;
                    }

                    img {}

                    .card_item_detail {
                        padding: 1.2em 1em;
                        background: #f4f5f7;
                        margin: 0 auto;

                        .card_item_body {
                            margin: 0 auto;

                            h4 {
                                color: #2529d8;
                                font-size: 1.3rem;
                                font-weight: 600;
                                margin-bottom: 0;
                            }

                            .location {}

                            .facilities {
                                margin-top: 0.8rem;
                                margin-left: 1rem;
                                display: grid;
                                gap: 2.5rem;
                                row-gap: 1.5rem;
                                grid-template-columns: auto auto;

                                justify-content: flex-start;
                                align-items: center;


                                .facilities_item {
                                    color: #848488;

                                    span {
                                        margin-left: 5px;
                                    }
                                }

                            }
                        }

                        .card_footer {
                            display: flex;
                            justify-content: space-between;

                            .footer__left {
                                span {
                                    margin-left: 0.8rem;
                                }
                            }

                            .footer__right {}
                        }
                    }
                }
            }
        }
    }
}