.homeUtility {
    background-color: #f8f9fa;

    @include Responesive(LG) {
        margin-top: 3rem;
        padding-bottom: 3rem;
    }

    .homeUtility__container {
        padding-top: 1rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 2rem;

        @include Responesive(SM) {
            max-width: 540px;
        }

        @include Responesive(MD) {
            max-width: 720px;

        }

        @include Responesive(LG) {
            max-width: 960px;
            padding-top: 3rem;
        }

        @include Responesive(XL) {
            max-width: 1140px;
        }

        .homeUtility__title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                text-shadow: 2px 2px 2px rgb(41 41 41 / 15%);
                color: black;
                text-align: center;
                font-weight: 700;
            }

            p {
                margin-bottom: 1rem;
                font-size: 0.85rem;
                text-align: center;
                color: #8c9398;
                line-height: 1.5rem;
                letter-spacing: 1px;

                @include Responesive(MD) {
                    margin-bottom: 2rem;
                }
            }
        }

        .homeUtility__content {

            // width: 100%;
            @include Responesive(LG) {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 10px;

            }

            @include Responesive(MD) {
                margin-bottom: 1.5rem;
            }

            .homeUtility__content-item {

                .card_item {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 1.2em;
                    padding: 2em 1em;
                    background: #e9eaef;

                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    .icon {
                        font-size: 1.8rem;
                        color: red;
                        margin-right: 20px;
                    }

                    .card_item_content {


                        h5 {}

                        p {}
                    }
                }
            }
        }
    }
}