.homeService {
    background-color: #343a40;

    .homeService__container {
        margin-top: 2rem;
        padding-top: 1rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 2rem;

        @include Responesive(SM) {
            max-width: 540px;
        }

        @include Responesive(MD) {
            max-width: 720px;

        }

        @include Responesive(LG) {
            max-width: 960px;
            padding-top: 3rem;
        }

        @include Responesive(XL) {
            max-width: 1140px;
        }

        h3 {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .homeService__container-card {
            @include Responesive(LG) {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

            }

            .card_item {
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                padding: 6rem 2rem;
                margin-bottom: 1rem;
                transition: $smooth;

                &:hover {
                    background-image: url('../../../../public/assets/img/serviceHover.jpg');
                    background-position: center;
                    background-size: cover;

                    h4 {
                        color: white;
                        transition: $smooth;
                    }

                    p {
                        color: white;
                        transition: $smooth;
                    }

                }
            }

            .icon {
                font-size: 1.5rem;
                color: $pink;
                margin-bottom: 0.5rem;
            }

            h4 {
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 1.5rem;
                font-weight: 700;
            }

            p {
                text-align: center;
                color: #8c9398;
                line-height: 1.5;
                font-size: 1.1rem;
            }
        }
    }
}