.homeHeader {
    background-image: url('../../../../public/assets/img/headerHome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vw;

    @include Responesive(SS) {
        height: 108vw;
    }

    @include Responesive(XS) {
        height: 108vw;
    }

    @include Responesive(SM) {
        height: 74vw;
    }

    @include Responesive(MD) {
        height: 60vw;
    }

    @include Responesive(LG) {
        height: 55vw;
    }

    @include Responesive(XL) {
        height: 100vh;
    }

    .homeHeader__container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 1.5rem;

        @include Responesive(SM) {
            max-width: 540px;
        }

        @include Responesive(MD) {
            max-width: 720px;
        }

        @include Responesive(LG) {
            max-width: 960px;
            padding-top: 2rem;
        }

        @include Responesive(XL) {
            max-width: 1140px;
            padding-top: 2rem;
        }

        .homeHeader__contact {
            width: 100%;

            @include Responesive(LG) {
                display: flex;
                justify-content: space-between;
            }

            .homeHeader__contact-text {
                p {
                    color: white;
                    text-decoration: underline;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 0;

                }
            }

            .homeHeader__contact-group {
                display: flex;
                justify-content: space-between;
                width: 100%;

                @include Responesive(LG) {
                    width: 54%;
                }

                .homeHeader__contact-phone {

                    p {
                        color: white;
                        font-size: 1rem;
                    }
                }

                .homeHeader__contact-icon {
                    font-size: 1.1rem;

                    ul {
                        display: flex;
                        justify-content: flex-end;
                        padding-left: 0;

                        li {
                            margin-left: 10px;

                            a {
                                color: rgba(255, 255, 255, 0.70);
                                font-size: 18px;
                                background: transparent;
                                width: 28px;
                                height: 28px;
                                line-height: 27px;
                                text-align: center;
                                display: block;
                            }

                            &:hover {
                                a {
                                    color: white;
                                }
                            }
                        }

                    }
                }
            }
        }

        .homeHeader__nab {
            position: relative;

            @include Responesive(LG) {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

            .homeHeader__nab-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 2rem;
                    font-weight: 600;
                    color: white;

                    @include Responesive(MD) {
                        font-size: 3.2rem;
                        font-weight: 700px;
                    }

                }

                .btn_nav {
                    @include Responesive(LG) {
                        display: none;
                    }

                    color: rgba(0, 0, 0, 0.5);
                    border-color: rgba(0, 0, 0, 0.1);
                    width: 1.8em;
                    height: 1.5em;
                    line-height: 1.5rem;
                    font-size: 1.5rem;
                    text-align: center;
                    background-color: white;
                    cursor: pointer;
                }
            }

            .homeHeader__nab-list {
                position: absolute;
                display: none;
                z-index: 10;
                width: 100%;
                background-color: white;
                padding: 1rem;
                padding-bottom: 0;
                transition: $smooth;

                @include Responesive(LG) {
                    position: initial;
                    display: initial;
                    background-color: transparent;
                    color: white;
                    padding-top: 0;
                }

                &.active {
                    display: initial;
                    height: initial;
                    transition: $smooth;
                }

                ul {
                    text-align: center;
                    padding-left: 0;
                    margin-bottom: 0;

                    @include Responesive(LG) {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }

                    li {

                        a {
                            padding: 0.3em 1.1em;
                            font-size: 1.2em;
                            font-weight: 700;
                            transition: $smooth;

                            @include Responesive(LG) {
                                padding-top: 0;
                            }
                        }

                        &.active {
                            color: $pink;
                        }

                        &:hover {
                            a {
                                color: $pink;
                                transition: $smooth;

                            }
                        }

                        .btn_login {
                            margin: 10px;
                            background-color: $pink;
                            border: 2px solid $pink;
                            padding: 0.3rem 1.7rem;

                            &:hover {
                                background-color: transparent;
                                color: $pink;
                            }
                        }
                    }


                }



            }

        }

        .homeHeader__content {
            color: white;

            @include Responesive(SM) {
                margin-top: 1rem;
            }

            @include Responesive(MD) {
                margin-top: 2rem;
            }

            @include Responesive(LG) {
                margin-top: 4rem;
            }

            @include Responesive(XL) {
                margin-top: 5rem;
            }

            p {
                display: inline-block;
                font-size: 0.8rem;
                width: 84%;
                letter-spacing: 1px;
                line-height: 1.7;

                @include Responesive(LG) {
                    width: 60%;
                    line-height: 2;
                }
            }

            .btn_content {
                margin-top: 1rem;

                @include Responesive(MD) {
                    margin-top: 2rem;
                }

                .btn_about {
                    border: 2px solid white;
                    background: transparent;

                    &:hover {
                        border: 2px solid $pink;
                        background-color: $pink;
                    }
                }

                .btn_contact {
                    border: 2px solid $pink;
                    background-color: $pink;
                    margin-left: 5px;
                }
            }
        }
    }
}