.homeFooter {
    background-color: #f5f5f5;
    margin-top: 1rem;

    .homeFooter__container {
        padding-top: 1rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 2rem;

        @include Responesive(SM) {
            max-width: 540px;
        }

        @include Responesive(MD) {
            max-width: 720px;

        }

        @include Responesive(LG) {
            max-width: 960px;
            padding-top: 3rem;
        }

        @include Responesive(XL) {
            max-width: 1140px;
        }

        h3 {
            color: black;
            text-shadow: 2px 2px 2px rgb(41 41 41 / 15%);
        }

        .homeFooter_search {

            input {
                margin: 1rem 0;
                padding: 9px 14px;
                color: #343a40;
                font-size: 14px;
                border: 1px solid #caccce;
                width: 70%;

                letter-spacing: 3px;
                background: none;
                outline: none;
            }

            .btn_subcribe {
                display: inline-block;
                padding: 9px 14px;
                color: white;
                font-size: 16px;
                text-align: center;
                width: 30%;
                background-color: #47cf73;
                border: 1px solid #caccce;
                cursor: pointer;
                text-transform: uppercase;
                transition: $smooth;

                &:hover {
                    background-color: $pink;
                    transition: $smooth;
                }
            }
        }

        .homeFooter__list {
            margin-top: 1rem;

            @include Responesive(LG) {
                display: flex;
            }

            .homeFooter_item {
                margin-bottom: 1rem;

                @include Responesive(LG) {
                    width: 33%;
                    margin-right: 1rem;
                }

                h4 {
                    color: #343a40;
                }

                p {}

                &:nth-child(1) {

                    ul {
                        display: flex;
                        padding-left: 0;
                        font-size: 1.1rem;

                        li {
                            margin-left: 10px;

                            a {
                                color: #343a40;
                                font-size: 16px;
                                background: transparent;
                                width: 28px;
                                height: 28px;
                                line-height: 27px;
                                text-align: center;
                                display: block;
                            }

                            &:hover {
                                a {
                                    color: blue;
                                }
                            }
                        }

                    }
                }

                .item_location {
                    h5 {
                        color: #47cf73;
                        font-weight: 400;
                    }
                }

                .item_contact {
                    h5 {
                        color: #47cf73;
                        font-weight: 400;
                    }
                }

                .link {
                    display: flex;

                    ul {
                        width: 50%;
                        padding-left: 0;
                    }
                }
            }
        }

        .footer_text {
            text-align: center;
            font-size: 16px;
        }
    }
}