.homeAgents {
    .homeAgents__container {
        padding-top: 1.5rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 2rem;

        @include Responesive(SM) {
            max-width: 540px;
        }

        @include Responesive(MD) {
            max-width: 720px;

        }

        @include Responesive(LG) {
            max-width: 960px;
            padding-top: 3rem;
        }

        @include Responesive(XL) {
            max-width: 1140px;
        }

        h3 {
            color: black;
            text-align: center;
            margin-bottom: 1.6rem;
            text-shadow: 2px 2px 2px rgb(41 41 41 / 15%);
        }

        .homeAgents__content {
            @include Responesive(XS) {
                display: grid;
                grid-template-columns: auto auto;

            }

            @include Responesive(LG) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .card_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2 rem 0;

                .card_item_img {
                    width: 80%;
                    position: relative;
                    transition: $smooth;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }

                    .overplay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-color: rgb(0 0 0 / 80%);
                        transition: $smooth;
                        opacity: 0;

                    }

                    .caption {
                        transform: translateY(150%) scale(1.5);
                        position: absolute;

                        background-color: #2529d8;
                        bottom: 0;
                        height: 27%;
                        left: 0;
                        padding: 16px 20px;
                        position: absolute;
                        right: 0;
                        z-index: 99;
                        transform: $smooth;

                        ul {
                            padding-left: 0;
                            position: relative;
                            z-index: 10;

                            display: flex;
                            justify-content: center;

                            li {
                                color: #2529d8;
                                width: 30px;
                                text-align: center;
                                line-height: 30px;
                                height: 30px;
                                background-color: white;
                                border-radius: 50%;
                                margin: 5px;
                                cursor: pointer;
                                transition: $smooth;

                                &:hover {
                                    background-color: rgb(174, 174, 249);
                                    transition: $smooth;
                                }
                            }
                        }
                    }

                    &:hover {
                        transition: $smooth;

                        .overplay {
                            opacity: 1;

                        }

                        .caption {
                            transform: translateY(0%) scale(1);
                            transition: $smooth;
                        }

                    }
                }

                h4 {
                    font-weight: 600;
                    margin: 1rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.5rem;
                }

                p {
                    color: #8c9398;
                }
            }

        }
    }
}