.manageUserKC {
    width: 100%;

    .manage__container {
        width: 100%;

        .table {
            width: 80%;
            margin: 0 auto;
            overflow: auto;

            .select_status {
                outline: none;
            }
        }
    }
}