.admin .site-layout .site-layout-background {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.admin {
    height: 100vh;
    transition: none;

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
        position: relative;
        background-color: #f0f2f5;
        border-radius: 50px 0 0 50px;
        overflow: unset;

        &::before {
            content: '';
            background-color: transparent;
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            top: -50px;
            right: 0;
            box-shadow: 20px 18px 0 -9px #f0f2f5;
        }

        &::after {
            content: '';
            background-color: transparent;
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            top: 40px;
            right: 0;
            box-shadow: 20px -21px 0 -7px #f0f2f5;
        }
    }

    .ant-menu-inline.ant-menu-root .ant-menu-item,
    .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
        transition: none;
    }

    .ant-menu-vertical .ant-menu-item::after,
    .ant-menu-vertical-left .ant-menu-item::after,
    .ant-menu-vertical-right .ant-menu-item::after,
    .ant-menu-inline .ant-menu-item::after {
        transition: none;
    }

    .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
        background-color: #3ba0e9;
    }

    .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
    .ant-menu-dark .ant-menu-item-selected .anticon {

        color: #3ba0e9;
    }

    .ant-menu-root.ant-menu-inline {
        background-color: #3ba0e9;
    }

    .ant-layout-sider-children {
        background-color: #3ba0e9;
    }

    .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon+span,
    .ant-menu-dark .ant-menu-item-selected .anticon+span {
        color: #3ba0e9;
    }

    .ant-menu-title-content {
        color: white;
    }

    .anticon[tabindex] {
        font-size: 25px;
        margin-left: 15px;
    }



    .ant-menu-item,
    .ant-menu-submenu-title {
        transition: none;
    }

    #components-layout-demo-custom-trigger .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }

    #components-layout-demo-custom-trigger .trigger:hover {
        color: #1890ff;
    }

    #components-layout-demo-custom-trigger .logo {
        height: 32px;
        margin: 16px;
        background: rgba(255, 255, 255, 0.3);
    }

    .site-layout .site-layout-background {
        background: #fff;
    }

    element.style {
        padding-left: 24px;
    }



    .admin_avatar {
        display: inline-block;
        margin-right: 15px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: #3ba0e9;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

    .logo {
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .icon {
        font-size: 30px;
        margin-right: 10px;
    }

    .admin_search {
        display: inline-block;
        position: relative;



        input {
            height: 32px;
            width: 100%;
            border-radius: 20px;
            border: solid 1px #3ba0e9;
            padding-left: 50px;

            &:focus-visible {
                outline: solid 1px #3ba0e9;
            }
        }

        .icon {
            position: absolute;
            font-size: 16px;
            top: 25px;
            left: 15px;
        }
    }
}