.store {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;

    .store__content {
        .store_nav {
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                margin: 0;
                margin-bottom: 10px;

                li {
                    padding: 5px 13px;
                    margin-right: 10px;
                    border-radius: 20px;
                    background-color: white;
                    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
                    color: #212529;
                    font-weight: 500;
                    cursor: pointer;
                    transition: $smooth;

                    &:hover {
                        background-color: #dae0e5;
                        transition: $smooth;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                li.active {
                    background: linear-gradient(119.96deg, #20C0E7 -14.62%, #2FC7C5 37.54%, #00BFBB 61.87%, #38CDAA 102.89%);
                    box-shadow: 0 0 0 0.2rem rgb(121 220 144 / 50%);
                    color: white;
                }
            }
        }

        hr {
            margin: 24px 0;
            box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
            border: 1px solid #dae0e5;
            opacity: 0.7;
        }

        .list_item {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            gap: 20px;

            .item {
                width: 200px;
                min-width: 200px;
                box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);

                .item_img {
                    img {
                        width: 100%;
                        border-radius: 5px 5px 0 0;
                    }
                }

                .item_content {
                    margin-top: 10px;
                    padding: 5px;

                    h5 {
                        font-size: 15px;
                    }

                    p {}

                    .btn_buy {
                        display: inline-block;
                        padding: 3px 13px;
                        border-radius: 3px;
                        background-color: $turquoise;
                        cursor: pointer;
                        color: white;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}